.recipe{
    border: 1px solid black;
    width: 220px;
    height: 200px;
    margin: 35px;
    display: inline-block;
    text-align: center;
}

.time{
    color: gray;
    font-size: 15px;
}

.rating{
    color: rebeccapurple;
    font-size: 20px;
}

.recipeName{
    text-transform: uppercase;
}

