.categoryBar{
  background-color: #D97782;
  font-weight: 400;
  padding-bottom: 12px;
  padding-top: 12px;
}

.activeCategory{
  text-decoration: underline;
  font-weight: 650;
}

ul{
  margin: 0;
  padding: 0;
  list-style:none;
  display: flex;
  justify-content: space-around;
}

li{
  display: inline;
  color: white;
}

li:hover{
  color: white;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 720px){
  .categoryBar{
    font-size: 12px;
  }
}

