.categoryBar{
  background-color: #D97782;
  font-weight: 400;
  padding-bottom: 12px;
  padding-top: 12px;
}

.activeCategory{
  font-weight: 700;
}

ul{
  margin: 0;
  padding: 0;
  list-style:none;
  display: flex;
  justify-content: space-around;
}

a{
  color: white;
}

a:hover{
  color: white;
  text-decoration: underline;
}

.selected{
  font-weight: 700;
}



@media screen and (max-width: 720px){
  .categoryBar{
    font-size: 12px;
  }
}

