.recipe{
    width: 215px;
    height: 200px;
    margin: 35px;
    display: inline-block;
    text-align: center;
    box-shadow: 2px 2px 5px rgb(180, 180, 180);
    background-size: cover;
    position: relative;
    color: transparent;
    border-radius: 10px;
}

.recipe:before{
    content: '';
    background-color: white;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.recipe:hover:before{
    opacity: 0.6;
}

.recipe:hover{
    color: black;
    cursor: pointer;
}

.time{
    position: relative;
    font-size: 15px;
}

.rating{
    position: relative;
    font-size: 20px;
}


.recipeName{
    position: relative;
    text-transform: uppercase;
    font-size: 30px;
}

@media screen and (max-width: 720px){
    .recipe{
        width: 130px;
        height: 115px;
        margin: 25px;
        border-radius: 5px;
    }

    .time{
        position: relative;
        font-size: 10px;
    }
    
    .rating{
        position: relative;
        font-size: 12px;
    }
    
    .recipeName{
        position: relative;
        text-transform: uppercase;
        text-transform: uppercase;
        font-size: 18px;
    }
  }