.row{
  margin: 0;
}

.header {
  background-color: #0D4E70;
  color: white;
}

.buscador{
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  background-color: white;
  color: gray;
  box-shadow: 1px 1px 4px black;
}

@media screen and (max-width: 720px){
  .buscador{
    font-size: 12px;
  }
}
